/********** Main Layout Designs ***********/

body {
    background-color: #61122f;
}
#navbardiv {
    background-color: #fffafa;
    border: none;
}
.navbar {
    color: #ffff00;
    border: 2px solid #00ff00;;
    background-color: #61122f;
}
.sect {
    border:  3px solid #008000;
}
#container {
    box-shadow: none;
}
#footer {
    background-color: #000000;
    border-top: 5px solid #fffafa;
    border-bottom: 5px solid #fffafa;
    color: #0000ff;
}

/********* Responsive Deisigns **********/

@media (min-width: 300px)  {
    .sect {
        border: 3px double #008000;
    }
}
@media (min-width: 481px) {
     .sect {
        border: 3px solid #008000;
     }
}

/********** End Of Responsive Designs  **********/