/* Main Layout Designs */

body {
    background-color: #61122f;
}
#header {
    background-color: #ffff00;
   
}
.navbar:hover {
    background-color: #0000ff;
    color: #ffffff;
}
.navbar:active {
    background-color:  #0000ff;
    color: #ffffff;
}
#navbardiv {
    background-color: #fffafa;
}
.navbar {
    color: #ffff00;
    border: 2px solid #00ff00;;
    background-color: #61122f;
}
#container {
    background-color: #00ffff;
}
.sect {
    background-color: #ffe4c4;
    border:  3px solid #008000;
}

/* Responsive Deisigns */

@media (min-width: 300px)  {
    .sect {
        border: 3px double #008000;
    }
}


@media (min-width: 481px) {
     .sect {
        border: 3px solid #008000;
     }
}

 /* End Of Responsive Designs  */